*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-size: 1px;
}
body{
    background-image: linear-gradient(90deg,#FFFCFF,#D5FEFD);
    overflow-x: hidden;
}
#maincontainer{
    position: relative;
    width: 100%;
   min-height: 100vh;
    bottom: -2vh;
    padding-inline: 10%;
    padding-top: 1%;
}
.sub-headercontainer{
    margin-bottom: 13vh;
 
}
nav{
display: flex;
align-items: center;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
z-index: 1;
}
.navicons{
    display: none;
}
nav.sticky{
    position: fixed;
    top: 0;
    margin-top: 0px;
    left: 0;
    background-color:ivory;
    height: 8%;
    transition: .5s;
    padding-right: 10%;
    padding-left: 10%;
}
.logo{
    width: 11%;
}
nav ul li {
    display: inline-block;
    margin: 0 20rem;

}
nav ul li a{
    font-size: 20rem;
    font-weight: bolder;
    position: relative;

}
nav ul li a::after{
    content: '';
    background-color: deeppink;
    width: 0;
    height: 5px;
    position: absolute;
    top: 110%;
    transition: 0.5s;
    left: 0;
}
nav ul li a:hover::after{
width: 110%;
transition: .3s;
}
nav ul li a:hover{
    color: deeppink;
}
#intro{
    font-weight: bold;
    margin-top: 10%;
}
#hello{ 
    font-size: 20rem;
    margin-bottom: 1%;
    color: darkorange;
}
#name{
    font-size: 65em;
    font-weight: bolder;
    margin-bottom: 1%;
}
#typinganimi{
    display: flex;
    font-size: 30em;
}
.dyn{
    margin-left: 10px;
    height: 1.5em;
    overflow: hidden;
}


.dyn ul li{
    color: deeppink;
    font-weight: bolder;
    position:relative;
    top: 0;
    line-height: 40px;
    animation: slide 6s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -4em;
    }
}

.dyn ul li::after{
    content: '';
    position: absolute;
    left: 0;
    border-left: 4px solid deeppink;
    height: 100%;
    width: 100%;
    background-color:#FFFCFF;
    animation: typing 2s steps(13) infinite;
}
@keyframes typing {
    40%,60%{
        left: 100%;
    }
}

#dp{
  float: right;
   width: 700px;
   height: 700px;
   margin-top:60px;
   border-radius:700px ;
   border: 2px solid rgb(5, 245, 245);
}
.btns-container{
    margin-top: 5%;
}
.intro-btns {
    font-weight: bold;
    text-align: center;
   margin-right: 3%;
    background-color: transparent;
    border: 3px solid darkorange;
    border-radius: 50em;
}
#cvbtn{
    padding: .8em 2em;
    font-size: 21em;
}
#hirebtn{
    padding: .8em 2.5em;
    font-size: 22em;
}
.intro-btns:hover {
    transition: .5s ease;
    background-color: darkorange;
    cursor: pointer;
    color: white;
}
/* aboutme section */
#aboutme{
    position: relative;
    width: 100%;
   min-height: 80vh;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-txt{
    text-align: center;
    margin-top: 10vh;
    font-size: 50px;
    margin-bottom: 3vh;
    font-weight: bold;
    /* padding-block: 10px; */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#abt-para{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
    width: 80%;
    margin: 10px 10%;
    font-size: 25rem;
    color: black;
}
#about-table{
    width: 80%;
    border: 2px solid darkorange;
    margin: 3vh 10%;
    height: 65vh;
    border-radius: 30px;
    background-color: white;
}
.tabs{
    background-color: white;
    height: 8vh;
    border-radius: 30px;
    padding-top: 15px;
    border-bottom: 2px solid darkorange;
    padding-left: 50px; 
}
.tab-btns{
    margin-right: 40px;
    width: auto;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20em;
}
.tab-btns:hover{
    color: deeppink;
}
.active-btn{
    border-bottom: 4px solid deeppink;
    color: deeppink;
}
.tabcontents{
    margin-top: 30px;
   display: flex;
   font-size: 20em;
   overflow: hidden;
   justify-content: center;
   position: absolute;
   transform: translateX(150%);
}
.parent-content{
    position: relative;
}
 .active-content{
    transform: translateX(0);
    transition: transform 0.3s ease;
}
.skill-set img{
width: 20px;
height: 20px;
}
.skill-parent{
    display: grid;
    grid-gap: 16px;
    padding-left: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.skill-parent .skill-set {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
}
.skill-parent .skill-set:hover{
    box-shadow: 0 12px 16px #36363624;
}
.skill-set span{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 20, 145, 0.346); */
    background-color: rgba(255, 140, 0, 0.693);
    width: 70px;
    padding: 30px;
    height: 70px;
    border-radius: 30px;
    margin-inline: auto;
}
.skill-set header{
text-align: center;
/* color: rgba(255, 20, 145, 0.535); */
color: darkorange;
font-weight: bold;
padding-block: 24px;
}
.skill-set span img{
    width: 50px;
    height: 50px;
}
.skill-set .list{
    display: grid;
    grid-template-columns: 1fr 28px;
    padding-block: 8px;
    opacity: 0.7;
    cursor: pointer;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skill-set:hover .list{
    opacity: 1.0;
}
#edupng{
    width: 400px;
    height:400px;
}
.educol{
    margin: 20px 0px 0px 70px;
    padding-left: 50px;
    border-left: 2px solid #bababa;
}
.educol .edubox{
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0);
    position: relative;
    transition: all 0.4s;
}
 .edubox:hover{
    box-shadow: 0 3px 12px 0 #ccc;
    border: 1px solid transparent;
}
.edubox ::before{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: darkorange;
    border: 2px solid white;
    top: 0;
    right: calc(100% + 45px);
}
.edubox h5{
    color: darkorange;
}
.edubox h5 , .edubox h4{
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* projects section */
#projects{
    width: 100%;
   height: 80vh; 
}

.project-list{
    display: grid;
grid-template-columns: repeat(auto-fit , minmax(250px , 450px));
margin-top: 50px;
padding-inline:10%;
}
.plist{
border-radius: 30px;
overflow: hidden;
position: relative;
}
.workimg{
    width: 100%;
    border-radius: 30px;
    height: 600px;
    padding: 20px;
width: 320px;
opacity: 0.8;
display: block;
transition: transform 0.5s;
}
.plist:hover .workimg{
    transform: scale(1.1);
    border-radius: 60px;
}
.plist:hover .layer{
    height: 100%;
}
#linkimg{
    width: 60px;
    height: 60px;
    opacity: 0.9;
    margin-top: 20px;
    padding: 15px;
background-color: white;
border-radius: 40%;

 
}
.layer h3{
    font-size: 30px;
    color: white;
    font-weight: 500px;
    margin-bottom: 20px;

}
.layer p{
    font-size: 16px;
    color: white;
    padding-inline: 25px;
}
.layer{
    width: 320px;
    height: 0%;
    background-image: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0,40px;
    transition: height 0.5s;
}
/*contact section*/
#contact{
    width: 80%;
    margin: 100em 10%;
    min-height: 80vh;
    position: relative;
}
.contact-row{
    display: flex;
}
.contact-row .left-row h1{
    text-align: left ; 
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 50em;
}
.c-icons{
    width: 20em;
    height: 20em;
    margin-right: 20em;
}

.left-row{
    flex-basis: 45%;
}
.right-row{
    margin-top: 50em;
    flex-basis: 55%;
}
.left-row span{
font-size: 20em;
font-weight: bolder;
}
.phonediv , .emaildiv {
    margin-bottom: 30em;
}
form input,form textarea{
    display: block;
    width: 100%;
   margin: 5px auto 30px auto;
   border: 0;
   padding: 10px 20px;
   font-size: large;
   border-radius: 10px;
   outline: none;
}
form input{
    height: 4.5em;
}
textarea{
    height: 10.5em;
    resize: none;
}
.s-links{
    width: 30px;
    height: 30px;
    margin-top: 20em;
    margin-right: 20px;
}
.s-links:hover{
    cursor: pointer;
    width: 40px;
    height: 40px;
transform: translateY(-5px);
}
.submit-btn{
    font-size: 22px;
    text-align: center;
  width: 150px;
  margin-left: 10px;
  color: white;
    height: 60px;
    background-color: darkorange;
    border: 3px solid darkorange;
    border-radius: 10px;
}
.submit-btn:hover{
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
}
#copyright{
   margin-top: 28vh;
    font-size: 16em;
    text-align: center;
}

/* -------------responsiveness-------------------- */
@media only screen and (max-width : 680px) {
    .logo{
        width: 44%;
    }
    nav{
        margin-top: 10px;
    }
 nav ul{
    background-color : ivory;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    padding-top: 50px;
    transition: right 0.5s;
    z-index: 1;

 }

 nav ul li{
    display: block;
    margin: 40px;
 }
 .navicons{
    cursor: pointer;
 }
.navicons {
    display: block;
}
#cross{
    position: absolute;
    top: 20px;
    left: 35px;
}
#dp{
    display: block;
     width: 100%;
     height: 40%;
     border-radius:100%;
     border: 2px solid rgb(5, 245, 245);
  }
  #intro{
    display: block;
    font-size: 2vmin;
  }
  #name{
    font-size: 11vmin;
    margin-bottom: 10px;
  }
  #typinganimi {
    font-size: 25em;
  }
  #iam{
    margin-top: 5px;
  }
  .dyn{
    height: 1.5em;
  }
  @keyframes slide {
    100%{
        top: -4.8em;
    }
}
  .dyn ul li::after{
    background-color: #D5FEFD ;
} 
.btns-container{
    margin-top: 15%;
}
.intro-btns {
  display: block;
  margin-top: 5%;
}
#cvbtn , #hirebtn{
    padding: 5% 5px;
}

/* about section  */
#abt-para{
    font-size: 18rem;
}
#about-table{
    width: 95%;
    margin-inline: 5%;
    height: 140vh;
}
.tabs{
    padding-block: 19px;
    height: 10vh;
}
.tabcontents{
    padding-inline: 3%;
    margin-right: 5%;
}
.skill-parent{
    grid-template-columns: 1fr;
}
#content2{
    padding-inline: 0;
    margin-left: 0;
}
.educol{
    margin: 20px 0px 0px 50px;
    padding-left: 50px;
}
/* projects selection */
#projects{
    min-height: 140vh; 
}
.project-list{
    padding-inline: 0%;
}

/* contact-row */
#contact{
    height: 90vh;
}
.contact-row{
    display: block;
}
.contact-row .left-row h1{
    font-size: 40em;
    margin : 4em auto 2em auto;
}
.c-icons{
    width: 16em;
    height: 16em;
}
.left-row span {
    font-size: 15px;
}
form input,form textarea{
    width: 125%;
    margin: 5px -20px 20px -20px;
}
form input{
    height: 3.5em;
}
textarea{
    height: 7.5em;
}
.submit-btn{
    margin-left: -15px;
}
#copyright{
    margin-top: 3em;
}
}
